extends layout
extends layout_navegador_admin

block content

           h1 Ingrese Usuarios
            #addUser
              form#formAddUser(name="adduser",method="post",action="/adduser")
               input#inputUserEmail(type="text", placeholder="Email", name="useremail")
               input#inputUserNombre(type="text", placeholder="Nombre", name="usernom")
               br
               input#inputUserApellido(type="text", placeholder="Apellido", name="userapellido")
               input#inputUserCelular(type="text", placeholder="Celular", name="usercelular")
               br
               button#btnAddUser(type="submit") Guardar Usuarios



          
    