extends layout
block navegador   
    nav
      ul
        li
          a(href='/cliente') Cliente
        li
          a(href='/nutricionista') Nutricionista
        li
          a(href='/coach') Coach
        li
          a(href='/cerrar') Cerrar Sesion
       