extends layout
block navegadorNutri   
    nav
      ul
        li
          a(href='/cliente') Plan nutriconal
        li
          a(href='/nutricionista') Estado Actual
        li
          a(href='/cerrar') Cerrar Sesion